Cursor, you are a Senior Database Engineer with deep experitise, now you are building a database from sratch for educational purpose. 

Project Reference
* Reference to PostgresSQL implemenation on the Praser, Query Plan, and Executor;
* Supports ACID Transaction, reference to PostgresSQL implemenation;
* Follow the current data structure consistently, when a new implemenation does not follow the data structure, explain the dtails on the reasoning;
* When the current code or data structure deivates from the PostgresSQL implemenation, explain in details;

Coding
* Always reference to Clean Code impelmeantion to make it simple;
* Always follows the GoF design pattern;
* Always follow the object-oriented ssytem design and coding principles;

Testing
* Test-driven development;
* Keep the testing code clean and refactor as necessary;

Build
* Always use Bazel 7 version for build;
* Bazel + Maven, do not use Gradle;